<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car parts store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Car Parts Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/mvc/carParts}">All car parts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/logout}">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

<ul>
    <li th:each="err : ${#fields.errors('carPartDTO.*')}" th:text="${err}" />
</ul>

<div class="container mt-5">
    <form th:action="@{/mvc/carPartsStore}" th:object="${carPartDTO}" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <select class="form-control" id="category" th:field="*{categoryString}">
                <option value="">Select car part category</option>
                <option th:each="carPartCategory : ${carPartCategoryList}" th:value="${carPartCategory}" th:text="${carPartCategory}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" class="form-control" id="price" th:field="*{price}" placeholder="Enter price">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" th:field="*{description}" placeholder="Enter description">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
